/* This is an example of using Sass, otherwise plain CSS works too*/
$primary-background: pink;
@import '_mixins.scss';

body {
  font-family: 'Lobster', cursive;
  display: grid;
  grid-template-areas:
    "nav"
    "main";
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 100px 100vh;
}

nav {
  grid-area: nav;
  background-color: #292D3E;
  @include primary-flex()
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100px;
  color: pink;
  font-size: 25px;
}


main {
  grid-area: main;
  background: repeat center/100% url(../images/hotel.jpg);
  background-attachment: fixed;
  height: 100vh;
  background-size: cover;
  @include primary-flex()
  flex-wrap: wrap;
  overflow: scroll;
}


.welcome-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 39%;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.75);
    border-radius: 10px;
    margin-top: 150px;
    div {
      color: red;
      font-family: arial;
      font-weight: bold;
    }
  }

  .login-btn {
    width: 40%;
    padding: 10px;
    font-size: 20px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    background-color: pink;

  }

  .enter-btn {
  font-family: 'Lobster', cursive;
  height: 40px;
  width: 120px;
  margin-top: 25px;
  font-size: 1.2em;
  color: pink;
  background-color: #292D3E;
  border: 1px solid #1D9AF2;
  border-radius: 4px;
  padding: 0 10px;
  cursor: pointer;
}

.user-page,
.manager-page {
  height: 90%;
  width: 90%;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  // margin-left: 20px;
  // margin-right: 20px;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.75);
}

.left-side-user-history,
.right-side-user-bookroom {
  height: 95%;
  width: 95%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  // overflow: scroll;
}

.user-bookings{
  // font-family: 'Raleway', sans-serif;
  font-size: .9em;
  height: 70%;
  width: 80%;
  overflow: scroll;
   b {
     color: green;
   }
}

.hidden {
  display: none;
}
